.logo {
    display: flex;
    justify-content: left;
    align-items: left;
    margin: 5px auto;
    width: 1800px;
    border-radius: 20px;
    padding: 5px 0;
    
    
  
    img {
      height: 80px;
    }
  }